body {
    background-color: lightgray;
    font-family: "Calibri";
}

div.container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 700px;
}

h1, p {
    text-align: center;
}

p {
    margin-top: 10px;
    font-size: 20px;
}

h1 {
    margin-bottom: 0px;
}